
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.my-input {
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  display: block;
  width: 100%;
  resize: none;
  margin-bottom: 10px;
}
.wiaam-btn {
  background-image: linear-gradient(90deg, black 17%, #737373);
  border: none;
  color: white;
  opacity: 0.8;
  font-weight: bold;
  /* padding: 8px;
  border-radius: 8px; */
}

.my-shadw {
  box-shadow: 12px 12px 10px 1px #808080ad;
}

.my-color {
  color: #08d364;
}
.text-golen {
  color:  #b89564;
}
.back-golden {
  background-color:  #b89564;
}
.make-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

