:root {
  --main-color: #efefef;
  --primary-color: #1d2d3d;
  --secondary-color: #495e74;
  --gray-color: #778697;
  --dark-color: #292b2c;
  --blue-color: #0275d8;
  --green-color: #27ae60;
  --green-sea-color: #16a085;
  --pumpkin-color: #d35400;
  --red-color: #d9534f;
  --white-color: #fff;
  --my-prime-color:#b89564;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
}

body {
  /* background-color: var(--main-color); */
  background-image: url("https://images.unsplash.com/photo-1615799998603-7c6270a45196?q=80&w=1604&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: contain;

}

a {
  text-decoration: none;
}

.skiptranslate {
 /* display: none;  */

}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* img {
  object-fit: cover;
} */

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Some Global Classes For icons */
.bi-pencil-square {
  color: var(--green-sea-color);
  margin-right: 15px;
}

.bi-trash-fill {
  color: var(--red-color);
}

/* Scrollbar Classes For Google Chrome */
/* html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(187, 179, 179);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--dark-color);
  border-radius: 15px;
} */


/* عرض الشريط */
::-webkit-scrollbar {
  width: 6px;          /* سكروول نحيف */
}

/* الخلفية السوداء */
::-webkit-scrollbar-track {
  background: #000;
  border: 1px solid #b89564; 
  border-radius: 10px;     /* خلفية سوداء */
}

/* المقبض الذهبي */
::-webkit-scrollbar-thumb {
  background: #b89564; /* لون ذهبي */
  border-radius: 10px; 
  border: 1px solid #b89564; /* حواف سوداء مثل اللي بالصورة */
}

/* عند المرور */
::-webkit-scrollbar-thumb:hover {
  background: #b89564;
}

input::placeholder,
textarea::placeholder {
  color: #b89564;   /* ضع اللون الذي تريده */
  opacity: 0.5;       /* مهم عشان بعض المتصفحات تقلل الوضوح */
}


/* ===== Global Professional Checkbox Style ===== */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #b89564;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease;
  outline: none;
}

/* عند التحديد */
input[type="checkbox"]:checked {
  background-color: #b89564;
  border-color: #b89564;
  box-shadow: 0 0 8px rgba(184, 149, 100, 0.4);
}

/* علامة الصح */
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* تحسينات عند الهوفر */
input[type="checkbox"]:hover {
  border-color: #a38252;
}

/* عند التركيز */
input[type="checkbox"]:focus-visible {
  outline: 2px solid rgba(184, 149, 100, 0.5);
  outline-offset: 2px;
}
